:root {
  --color-white: #fff;
  --color-black: #000;
  --color-silver: #d9e3ed;
  --color-light-silver: #f9fafb;
  --color-gray: #b4b4b4;
  --color-dark-gray: #434343;
  /* --color-primary: #077ea3; */
  --color-primary: #635994;

  --drop-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --drop-shadow-lower: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
