.container {
  margin: 0 auto;
  max-width: 80rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}

body {
  color: #000000;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 1.6em;
  line-height: 1.6;
}

/* FLEXBOX */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.justify-items-center {
  justify-items: center;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

/* MISC */
.text-center {
  text-align: left;
}
