body {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: var(--color-light-silver);
}

.btn {
  display: inline-block;
  height: 26px;
  line-height: 25px;
  padding: 0 12px;
  font-weight: 600;
  font-family: inherit;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--color-primary);
  background: var(--color-white);
  border: 1px solid var(--color-silver);
  border-radius: 4px;
  box-shadow: var(--drop-shadow);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.06, 0.67, 0.37, 0.99);
}
.btn.primary {
  background: var(--color-primary);
  color: var(--color-white);
}

.btn:not(:disabled):hover {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: var(--drop-shadow-lower);
}
