<!DOCTYPE html>
<html lang="en">
<%= render QuizzezWeb.LayoutView, "_head.html", assigns %>
<body class="relative overflow-x-hidden">
  <div class="absolute -z-10 left-[-310px] top-[260px] w-[770px]">
    <QuizzezWeb.Components.Blobs.ligh_grey />
  </div>
  <div class="absolute -z-10 right-[-210px] top-[100px] w-[390px]">
    <QuizzezWeb.Components.Blobs.ligh_grey />
  </div>
  <%= render QuizzezWeb.LayoutView, "header.html", assigns %>
  <main class="container mx-auto">
    <p class="alert alert-info max-w-4xl mx-auto" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger max-w-4xl mx-auto" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= @inner_content %>
  </main>
</body>
</html>
