<main class="container mx-auto">
  <p class="alert alert-info max-w-4xl mx-auto" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger max-w-4xl mx-auto" role="alert"><%= get_flash(@conn, :error) %></p>
  <%= @inner_content %>
</main>
