<!DOCTYPE html>
<html lang="en">
<%= render QuizzezWeb.LayoutView, "_head.html", assigns %>
<body class="bg-primary text-gray-200">
  <header class="flex flex-row justify-between h-10 py-2 px-4">
    <%= link to: Routes.page_path(@conn, :index), class: "hover:scale-105" do %>
      <i class="inline-block w-10"><%= SVGHelpers.inline_svg("/icons/arrow-left") %></i>
    <% end %>
  </header>
  <main class="container mx-auto">
    <p class="alert alert-info max-w-4xl mx-auto" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger max-w-4xl mx-auto" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= @inner_content %>
  </main>
</body>
</html>
