<section class="container mt-20 mb-8 px-6 mx-auto max-w-4xl">
  <h1 class="font-bold text-2xl text-primary">Categories</h1>
  <article class="flex flex-row flex-wrap gap-2 lg:gap-4 justify-between mt-6">
    <%= for category <- @categories do %>
        <QuizzezWeb.Components.CategoryCard.card category={category} />
    <% end %>
  </article>
  <article class="column">
  </article>
</section>
