<section class="container mt-20 px-6 mx-auto flex flex-col max-w-4xl">
  <h2><%= @quiz.title %></h2>
  <p><%= @quiz.description %></p>
  <p><%= question_amount_text(@quiz.questions) %></p>
</section>
